<!doctype html>
<html ng-app="plunker">
  <head>
    <script src="angular.js"></script>
    <script src="ui-bootstrap-tpls-0.6.0.js"></script>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="style.css" media="all" />
    <script src="repeat.js"></script>
    <script src="index2.js"></script>
    <link rel="stylesheet" type="text/css" href="win8.css" media="all" />
    
    <link href="bootstrap-combined.min.css" rel="stylesheet">
  </head>
  <body>

<div ng-controller="ModalDemoCtrl">
    <script type="text/ng-template" id="questionbox.html">
        <div class="modal-header">
            <h3>Crack the Shell</h3>
        </div>
        <form ng-submit="submit()">
          <div class="modal-body" ng-controller="SearchCtrl">
            <h4>Question</h4>
             <div id="box"  ng-click="search()">
              <p > <br /> {{quest}} <br /> </p >
            </div>
            <br />
            <h4>Answer</h4>
            <input type="text" ng-model="user.answer" placeholder="type your answer here" autofocus />
          </div>
          <div class="modal-footer" >
             <div collapse="emptyanswer">
		<h5  class='alert alert-danger' >Enter an answer</h5> 
	</div>
             <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
              <input type="submit" class="btn primary-btn" value="Submit"/>
          </div>
        </form>
    </script>

    <!--button class="btn" ng-click="open()">Open me!</button-->
    
</div>

<div class="container">

<center>
<div class="metro-surface" ng-controller="question">
	<div id='frame' ng-controller="ModalDemoCtrl">

   <div  ng-repeat="column in questions">
   <div  ng-repeat="Question in column" class="nobreak">
   
   <div ng-class="{metro_tile:true, metro_tile_small:true, metro_tile_xbox: Question.l=='easy', metro_tile_Medium: Question.l=='medium', metro_tile_ie: Question.l=='hard' }" ng-click="open(Question.q)" >
   {{Question.l}} 
   </div>
   </div>
   
 </div>

   </div>
 </div>
 </center>
 
 <div style="float:right" class="metro_tile metro_tile_small metro_tile_Medium">Leaderboard</div>
 
 </div>
  </body>
</html>
