
body {
	background: url(Background.jpg);
	background-color:58169a;
}


span.start {
	color:white;
	font-size:2em;

}

.credits {
	color:white;
	text-align:right;
	text-decoration:none;
	font-weight: bold;
}


.metro_surface{
	padding: 40px 0px 0px 0px;
}


.metro_tile {
	background-color: #D8512B;
	border-color: #DC6241;
	width: 232px;
	height: 104px;
	padding: 5px;
	color: #FFF;
	font-family: sans-serif;
	font-size: 12px;
	border-width: 3px;
	border-style: solid;
	cursor: default;
	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
	-ms-transition: 0.1s all;
	transition: 0.1s all;
}


.metro_tile_small {
	width: 100px;
	height: 100px;
	font-size: 25px;
}




.metro_tile_xbox {
	/*background: url(https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/XBox.png);*/
	background-position: 8px 8px;
        background-color:#6CB71E;
        border-color:#6CB71E;
}



.metro_tile_music {
	/*background: url('https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/Music.png');*/
        background-color: #D8512B;
	border-color: #D8512B;
}


.metro_tile_ie {
/*	background: url('https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/IE.png');*/
        background-color: #2878EC;
	border-color: #2878EC;
}

.nobreak {
display:inline-table;
}
.break {
display:inline;
}


div.metro_tile:hover {
	-webkit-transform: scale(0.97) perspective(400px) rotateY(45deg) rotateX(0deg);
	-moz-transform: scale(0.97) perspective(400px) rotateY(45deg) rotateX(0deg);
	-ms-transform: scale(0.97) perspective(400px) rotateY(45deg) rotateX(0deg);
	transform: scale(0.97) perspective(400px) rotateY(45deg) rotateX(0deg);
	border-width: 3px;
	border-style:solid; 
}